.display {
  align-items: center;
  background: #2B293D;
  box-sizing: border-box;
  color: #59C3C3;
  display: flex;
  font-size: 24px;
  height: 20%;
  justify-content: flex-end;
  overflow: hidden;
  padding: 0 29px;
  position: relative;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
}